<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item navbar-brand">
      <a class="nav-link" routerLink = "/liste-notes" (click)="fonctiontest()">Liste des notes de frais</a>
    </li>
    <li class="nav-item float-right">
      <a class="nav-link" href="#">ConnexionLOL</a>
    </li>
    <li class="nav-item float-right">
      <a class="nav-link" href="#">Inscription</a>
    </li>
  </ul>
</nav>